@import "../../../../styles/variables.scss";

.container {
  max-width: 1075px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.user-list-ctn {
  border: 1px solid #dd013f;
  box-sizing: border-box;
}

.title-ctn {
  display: flex;
  align-items: center;
  background: $primary;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  .table-title {
    color: $white;
    font-family: $montserrat;
    font-weight: 600;
    text-transform: $textUppercase;
    padding-left: 20px;
  }
}

.user-table {
  width: 100%;
  // table-layout: fixed;
  // border-collapse: separate;
  border-collapse: collapse;

  .avatar {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding-left: 35px;
  }
  .avatar-title {
    padding-left: 20px;
  }
  .table-head {
    border-bottom: 1px solid $gray;
    display: table-header-group;
    text-align: left;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    // vertical-align: middle;
  }

  .tHead-row {
    color: $secondary;
    font-family: $montserrat;
    text-transform: $textUppercase;
    font-weight: 600;
    // font-size: 18px;
  }
  .user-cell {
    border-bottom: 1px solid $gray;
    color: $secondary;
    &:last-child {
      border-bottom: none;
    }
  }
  .buttonCtn {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
  }
}
