.delete-ctn {
  background-color: #ffff;
  // padding: 20px 90px;
}
.btn-ctn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.delete-title {
  color: #fff;
  padding: 40px;
}
