@import "./variables";
h1 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
h2 {
  padding-left: 20px;
}

button {
  // font-family: ;
  font-size: 18px;
  font-weight: 700;
}
