@import "../../styles/variables.scss";
.wrapper {
  padding: 0 35px;
  padding-bottom: 60px;
}
.users-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  font-family: "Marcellus";
  font-style: normal;
  padding: 10px;
  border-bottom: 1px solid $gray;
}
.toast-ctn {
  display: flex;
  justify-content: center;
  .toast {
    position: absolute;
    top: 200px;
    background-color: $primary;
    font-size: 18px;
    padding: 8px 30px;
    color: $white;
  }
}
// .line-break {
//   border: 0.5px solid $gray;
//   border-bottom-width: 100%;
//   margin-bottom: 20px;
// }
.createBtnCtn {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 20px;
}
