@import "../../../styles/variables";

.default-btn {
  background-color: $primary;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  border-style: none;
  background-color: $primary;
  color: #ffff;
  font-family: "Montserrat";
  font-style: normal;
  &:hover {
    cursor: pointer;
    background-color: darkred;
    transition: ease-in-out 0.3s;
  }
}

.outline-btn {
  background-color: #ffff;
  color: $primary;
  border: 2px solid;
  &:hover {
    color: #ffff;
  }
}

.large-btn {
  background-color: $primary;
  padding: 10px, 18px, 10px, 18px;
}

.confirm-dlte {
  // margin-bottom: 20px;
}
